{% extends "base.html"%}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/blog">Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">   
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/writePost"><span class="glyphicon glyphicon-edit"></span> write post</a></li>
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-off"></span>
                        logout
                    </a>
                    
                </li> 
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-8"> 
                        <h1><strong>Welcom to your Blog!</strong></h1>
                    </div>     
                </div>
                <hr>
                <div class="row">
                    <p>“The more that you read, the more things you will know. The more that you learn, the more places you'll go.”</p>
                </div>
            </div>
        </div>
    </div>
    {% for post in posts %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-4"> 
                        <p><strong> {{post.user}} </strong></p>
                    </div>
                    <div class="col-md-4 col-md-offset-4 text-right">
                        {{post.created}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h3><strong>{{ post.title }}</strong></h3>
                    <p>{{ post.body|truncate() }}</p>
                    
                    <p><a  href="{{'post/%s'%post.key().id()}}" >view post...</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}