<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog | post</title>
    <!-- Bootstrap -->
     <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../blog">Blog</a>
                </div>
              
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../writePost"><span class="glyphicon glyphicon-edit"></span> write post</a></li>
                    <li>
                        <a href="../logout">
                            <span class="glyphicon glyphicon-off"></span>
                            logout
                        </a>
                    </li> 
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-4"> 
                            <p style="font-size: xx-large;"><strong>{{ post.user }} </strong></p>
                            {% if user.username == post.user %}
                            <a class="liked" href="{{'../deletepost/%s'%(post_id)}}" style="padding: 5px;"> <span class="glyphicon glyphicon-trash"></span></a>
                            {% endif %}
                        </div>
                        <div class="col-md-4 col-md-offset-4 text-right">
                            {{ post.created }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                         <div class="col-md-12">
                            <h3>{{ post.title }}</h3>
                            <p> {{ post.body }} </p>
                         </div>
                    </div>
                    <hr>
                    <div class="col-md-4 col-md-offset-8 text-right">
                        <ul class="list-inline">
                        {% if user.username != post.user %}
                        <li><p><a href="{{'../like/%s,%s'%(post_id,1)}}" class="liked">{{likes}} <span class="glyphicon glyphicon-thumbs-up"></span></a></p></li>
                        <li><p><a href="{{'../like/%s,%s'%(post_id,0)}}" class="disliked">{{dislikes}} <span class="glyphicon glyphicon-thumbs-down"></span></a></p></li> 
                        {% else %}
                        <li><p><a class="liked">{{likes}} <span class="glyphicon glyphicon-thumbs-up"></span></a></p></li>
                        <li><p><a class="disliked">{{dislikes}} <span class="glyphicon glyphicon-thumbs-down"></span></a></p></li> 
                        {% endif %}
                        </ul>
                    </div>
                    <ul class="nav">
                        {% if comments %}
                            {% for comment in comments %}
                            <li>
                                <div class="page-header">
                                    <h3>{{ comment.user }}</h3>
                                    <small> {{ comment.body }} </small>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}                        
                    </ul>
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                <input type="text" class="form-control" name="body" placeholder="write your comment...">
                                <input type="hidden" class="form-control" name="user" value="{{user.username}}">
                                <input type="hidden" class="form-control" name="post" value="{{post_id}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default comment-btn" type="submit">add a Comment</button>
                                </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    <form>
                </div>

            </div>
        </div>
    
        </div>

    </div>

    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>