{% extends "base.html"%}
{% block content %}
        <header>
                 Blog
        </header>
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <h1 class="error">{{ error }}</h1>
            <form method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" name="login" class="login loginmodal-submit" value="login">
                <input type="submit" name="signup" class="login loginmodal-submit" value="signup">
            </form>
        </div>
{% endblock %}