{% extends "base.html"%}
{% block content %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/blog">Blog</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> write post</a></li>
                    <li>
                        <a href="/logout">
                            <span class="glyphicon glyphicon-off"></span>
                            logout
                        </a>
                    </li> 
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="jumbotron">
                    <form method="post">
                        <div class="form-group">
                            <label for="title"><h3>Title</h3></label>
                            {% if post %}
                             <input type="text" class="form-control" name="title" placeholder="title..." value="{{post.title}}" required>
                            {% else %}
                            <input type="text" class="form-control" name="title" placeholder="title..." required>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="body"><h3>post</h3></label>
                             {% if post %}
                            <textarea type="text" class="form-control"  rows="15" name="body" placeholder="express your thoughts here!" required>{{post.body}}</textarea>
                            {% else %}
                            <textarea type="text" class="form-control"  rows="15" name="body" placeholder="express your thoughts here!" required></textarea>
                            {% endif %}
                        </div>
                        {% if post %}
                        <input type="hidden" class="form-control" name="edit_id" value="{{post_id}}">
                        {% endif %}
                        <button type="submit" class="btn btn-default comment-btn">Submit</button>
                        
                        <input type="hidden" class="form-control" name="user" value="{{user.username}}">
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}